### Hidroacústica Aplicada

In [1]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
import math

### Cálculos

In [3]:
# Organizando os dados (NASC, ESDU, biométricos e ocorrências)

'''Sub-área A'''
nasc_a = np.array([125.0, 321.0, 465.0, 403.0, 300.0, 262.0, 356.0, 214.0, 110.0, 441.0, 365.0, 278.0, 452.0, 698.0, 446.0, 
                   541.0, 523.0, 632.0, 236.0, 122.0, 103.0, 187.0, 222.0, 212.0, 231.0, 420.0, 216.0, 366.0, 230.0, 111.0])

esdu_a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
                   26, 27, 28, 29, 30])

moda_a = np.array([11, 14, 9, 12, 8, 11])

ocor_a = np.array([134, 90, 140, 90, 20, 8])

'''Sub-área B'''
nasc_b = np.array([450.0, 557.0, 870.0, 590.0, 780.0, 659.0, 666.0, 478.0, 596.0, 987.0, 968.0, 655.0, 774.0, 256.0, 123.0,
                   488.0, 496.0, 1053.0, 997.0, 645.0, 98.0, 65.0, 321.0, 1436.0, 988.0, 265.0, 759.0, 785.0, 658.0, 695.0]) 

esdu_b = np.array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
                  58, 59, 60])

moda_b = np.array([16, 18, 12, 16, 10, 12])

ocor_b = np.array([45, 50, 75, 70, 45, 50])

In [4]:
# Transformando os dados (NASC, ESDU) da sub-área 'A' em um dataframe (tabela)
df_a = pd.DataFrame(esdu_a, columns=['ESDU'])
df_a['NASC'] = nasc_a
print('Sub-área A')
df_a.head() # mostra as cinco primeiras linhas do dataframe

Sub-área A

   ESDU   NASC
0     1  125.0
1     2  321.0
2     3  465.0
3     4  403.0
4     5  300.0

In [5]:
# Transformando os dados (NASC, ESDU) das sub-área 'B' em um dataframe (tabela)
df_b = pd.DataFrame(esdu_b, columns = ['ESDU'])
df_b['NASC'] = nasc_b
print('Sub-área B')
df_b.head() # mostra as cinco primeiras linhas do dataframe

Sub-área B

   ESDU   NASC
0    31  450.0
1    32  557.0
2    33  870.0
3    34  590.0
4    35  780.0

In [6]:
# Transformando os dados biométricos (modas) e de ocorrências nas amostras da sub-área 'A' em um dataframe
df_c = pd.DataFrame(moda_a, index= ['Sardinha', 'Sardinha', 'Xixarro', 'Xixarro', 'Cavalinha', 'Cavalinha'], columns = ['Moda (cm)'])
df_c['Ocorrência (N)'] = ocor_a
print('Sub-área A')
df_c

Sub-área A

           Moda (cm)  Ocorrência (N)
Sardinha          11             134
Sardinha          14              90
Xixarro            9             140
Xixarro           12              90
Cavalinha          8              20
Cavalinha         11               8

In [7]:
# Transformando os dados biométricos (modas) e de ocorrências nas amostras da sub-área 'B' em um dataframe
df_d = pd.DataFrame(moda_b, index= ['Sardinha', 'Sardinha', 'Xixarro', 'Xixarro', 'Cavalinha', 'Cavalinha'], columns = ['Moda (cm)'])
df_d['Ocorrência (N)'] = ocor_b
print('Sub-área B')
df_d

Sub-área B

           Moda (cm)  Ocorrência (N)
Sardinha          16              45
Sardinha          18              50
Xixarro           12              75
Xixarro           16              70
Cavalinha         10              45
Cavalinha         12              50

In [8]:
# NASC médio e desvio padrão

'''Sub-área A'''
nasc_mean_a = df_a['NASC'].mean()
nasc_std_a = round(df_a['NASC'].std(), 2)
print(f'NASC médio sub-área A: {nasc_mean_a} \nDesvio padrão sub-área A: {nasc_std_a}')

'''Sub-área B'''
nasc_mean_b = df_b['NASC'].mean()
nasc_std_b = round(df_b['NASC'].std(), 2)
print(f'NASC médio sub-área B: {nasc_mean_b} \nDesvio padrão sub-área B: {nasc_std_b}')

NASC médio sub-área A: 319.6
Desvio padrão sub-área A: 157.93
NASC médio sub-área B: 638.6
Desvio padrão sub-área B: 311.28

In [9]:
# Funções que calculam TS para cada espécie
def ts_sardinha(lt):
    a = 20 * np.log10(lt)
    ts = round(a - 71.2, 2)
    return(ts)

def ts_xixarro(lt):
    a = 20 * np.log10(lt)
    ts = round(a - 66.8, 2)
    return(ts)
    
def ts_cavalinha(lt):
    a = 20 * np.log10(lt)
    ts = round(a - 74.5, 2)
    return(ts)

In [10]:
# Cálculo de TS

'''Sub-área A'''
# Sardinha
ts_sardinha1 = ts_sardinha(df_c['Moda (cm)'][0])
ts_sardinha2 = ts_sardinha(df_c['Moda (cm)'][1])
# Xixarro
ts_xixarro1 = ts_xixarro(df_c['Moda (cm)'][2])
ts_xixarro2 = ts_xixarro(df_c['Moda (cm)'][3])
# Cavalinha
ts_cavalinha1 = ts_cavalinha(df_c['Moda (cm)'][4])
ts_cavalinha2 = ts_cavalinha(df_c['Moda (cm)'][5])

'''Sub-área B'''
# Sardinha
ts_sardinha3 = ts_sardinha(df_d['Moda (cm)'][0])
ts_sardinha4 = ts_sardinha(df_d['Moda (cm)'][1])
# Xixarro
ts_xixarro3 = ts_xixarro(df_d['Moda (cm)'][2])
ts_xixarro4 = ts_xixarro(df_d['Moda (cm)'][3])
# Cavalinha
ts_cavalinha3 = ts_cavalinha(df_d['Moda (cm)'][4])
ts_cavalinha4 = ts_cavalinha(df_d['Moda (cm)'][5])

In [11]:
# Função que calcula sigma bs
def bs(ts):
    a = ts/10
    bs = 10**a
    return(bs)

In [12]:
# Cálculos de sigma bs

'''Sub-área A'''
# Sardinha
bs_sardinha1 = bs(ts_sardinha1)
bs_sardinha2 = bs(ts_sardinha2)
# Xixarro
bs_xixarro1 = bs(ts_xixarro1)
bs_xixarro2 = bs(ts_xixarro2)
# Cavalinha
bs_cavalinha1 = bs(ts_cavalinha1)
bs_cavalinha2 = bs(ts_cavalinha2)

'''Sub-área B'''
# Sardinha
bs_sardinha3 = bs(ts_sardinha3)
bs_sardinha4 = bs(ts_sardinha4)
# Xixarro
bs_xixarro3 = bs(ts_xixarro3)
bs_xixarro4 = bs(ts_xixarro4)
# Cavalinha
bs_cavalinha3 = bs(ts_cavalinha3)
bs_cavalinha4 = bs(ts_cavalinha4)

In [13]:
# Cálculo do somatório de frequências x sigma bs

'''Sub-área A'''
somatorio_a = ((df_c['Ocorrência (N)'][0] * bs_sardinha1) +
               (df_c['Ocorrência (N)'][1] * bs_sardinha2) +
               (df_c['Ocorrência (N)'][2] * bs_xixarro1) +
               (df_c['Ocorrência (N)'][3] * bs_xixarro2) +
               (df_c['Ocorrência (N)'][4] * bs_cavalinha1) +
               (df_c['Ocorrência (N)'][5] * bs_cavalinha2))

'''Sub-área B'''
somatorio_b = ((df_d['Ocorrência (N)'][0] * bs_sardinha3) +
               (df_d['Ocorrência (N)'][1] * bs_sardinha4) +
               (df_d['Ocorrência (N)'][2] * bs_xixarro3) +
               (df_d['Ocorrência (N)'][3] * bs_xixarro4) +
               (df_d['Ocorrência (N)'][4] * bs_cavalinha3) +
               (df_d['Ocorrência (N)'][5] * bs_cavalinha4))

In [14]:
# Função que calcula a densidade numérica (nº ind / mn²)
def pjh(fjh, nasc, somatorio):
    a = 4 * math.pi * somatorio
    b = nasc / a
    pjh = fjh * b
    return(pjh)

In [15]:
# Cálculo da densidade numérica (nº ind / mn²)

'''Sub-área A'''
# Sardinha
pjh_sardinha1 = pjh(df_c['Ocorrência (N)'][0], nasc_mean_a, somatorio_a)
pjh_sardinha2 = pjh(df_c['Ocorrência (N)'][1], nasc_mean_a, somatorio_a)
# Xixarro
pjh_xixarro1 = pjh(df_c['Ocorrência (N)'][2], nasc_mean_a, somatorio_a)
pjh_xixarro2 = pjh(df_c['Ocorrência (N)'][3], nasc_mean_a, somatorio_a)
# Cavalinha
pjh_cavalinha1 = pjh(df_c['Ocorrência (N)'][4], nasc_mean_a, somatorio_a)
pjh_cavalinha2 = pjh(df_c['Ocorrência (N)'][5], nasc_mean_a, somatorio_a)

'''Sub-área B'''
# Sardinha
pjh_sardinha3 = pjh(df_d['Ocorrência (N)'][0], nasc_mean_b, somatorio_b)
pjh_sardinha4 = pjh(df_d['Ocorrência (N)'][1], nasc_mean_b, somatorio_b)
# Xixarro
pjh_xixarro3 = pjh(df_d['Ocorrência (N)'][2], nasc_mean_b, somatorio_b)
pjh_xixarro4 = pjh(df_d['Ocorrência (N)'][3], nasc_mean_b, somatorio_b)
# Cavalinha
pjh_cavalinha3 = pjh(df_d['Ocorrência (N)'][4], nasc_mean_b, somatorio_b)
pjh_cavalinha4 = pjh(df_d['Ocorrência (N)'][5], nasc_mean_b, somatorio_b)

In [16]:
# Densidade numérica por espécie e sub-área

'''Sub-área A'''
# Sardinha
pjh_sardinha_a = round(pjh_sardinha1 + pjh_sardinha2, 2)
# Xixarro
pjh_xixarro_a = round(pjh_xixarro1 + pjh_xixarro2, 2)
# Cavalinha
pjh_cavalinha_a = round(pjh_cavalinha1 + pjh_cavalinha2, 2)

'''Sub-área B'''
# Sardinha
pjh_sardinha_b = round(pjh_sardinha3 + pjh_sardinha4, 2)
# Xixarro
pjh_xixarro_b = round(pjh_xixarro3 + pjh_xixarro4, 2)
# Cavalinha
pjh_cavalinha_b = round(pjh_cavalinha3 + pjh_cavalinha4, 2)

densidade_numerica_a = np.array([pjh_sardinha_a, pjh_xixarro_a, pjh_cavalinha_a])
densidade_numerica_b = np.array([pjh_sardinha_b, pjh_xixarro_b, pjh_cavalinha_b])

In [17]:
# Função que calcula as densidades em peso (ton / mn²) por espécie
def peso_sardinha(lt):
    a = lt ** 3.11
    p = (0.0043 * a) / 1000000
    return(p)

def peso_xixarro(lt):
    a = lt ** 2.93
    p = (0.0105 * a) / 1000000
    return(p)

def peso_cavalinha(lt):
    a = lt ** 3.30
    p = (0.0110 * a) / 1000000
    return(p)

In [18]:
# Cálculo das densidades em peso (ton / mn²) por espécie e sub-área

'''Sub-área A'''
# Sardinha
p_sardinha1 = peso_sardinha(df_c['Moda (cm)'][0]) * pjh_sardinha1 
p_sardinha2 = peso_sardinha(df_c['Moda (cm)'][1]) * pjh_sardinha2
# Xixarro
p_xixarro1 = peso_xixarro(df_c['Moda (cm)'][2]) * pjh_xixarro1
p_xixarro2 = peso_xixarro(df_c['Moda (cm)'][3]) * pjh_xixarro2
# Cavalinha
p_cavalinha1 = peso_cavalinha(df_c['Moda (cm)'][4]) * pjh_cavalinha1
p_cavalinha2 = peso_cavalinha(df_c['Moda (cm)'][5]) * pjh_cavalinha2

'''Sub-área B'''
# Sardinha
p_sardinha3 = peso_sardinha(df_d['Moda (cm)'][0]) * pjh_sardinha3
p_sardinha4 = peso_sardinha(df_d['Moda (cm)'][1]) * pjh_sardinha4
# Xixarro
p_xixarro3 = peso_xixarro(df_d['Moda (cm)'][2]) * pjh_xixarro3
p_xixarro4 = peso_xixarro(df_d['Moda (cm)'][3]) * pjh_xixarro4
# Cavalinha
p_cavalinha3 = peso_cavalinha(df_d['Moda (cm)'][4]) * pjh_cavalinha3
p_cavalinha4 = peso_cavalinha(df_d['Moda (cm)'][5]) * pjh_cavalinha4

In [19]:
# Densidade em peso por espécie e sub-área

'''Sub-área A'''
# Sardinha
pa_sardinha = round(p_sardinha1 + p_sardinha2, 2)
# Xixarro
pa_xixarro = round(p_xixarro1 + p_xixarro2, 2)
# Cavalinha
pa_cavalinha = round(p_cavalinha1 + p_cavalinha2, 2)

'''Sub-área B'''
pb_sardinha = round(p_sardinha3 + p_sardinha4, 2)
# Xixarro
pb_xixarro = round(p_xixarro3 + p_xixarro4, 2)
# Cavalinha
pb_cavalinha = round(p_cavalinha3 + p_cavalinha4, 2)

densidade_peso_a = np.array([pa_sardinha, pa_xixarro, pa_cavalinha])
densidade_peso_b = np.array([pb_sardinha, pb_xixarro, pb_cavalinha])

In [20]:
# Dataframe com as densidades em número e em peso para a Sub-área A
df_sub_a = pd.DataFrame(densidade_numerica_a, index=['Sardinha', 'Xixarro', 'Cavalinha'] ,columns=['Densidade Numérica (nºind/mn²)'])
df_sub_a['Densidade em peso (ton/mn²)'] = densidade_peso_a
print('Sub-área A')
df_sub_a

Sub-área A

           Densidade Numérica (nºind/mn²)  Densidade em peso (ton/mn²)
Sardinha                        737974.69                         7.97
Xixarro                         757741.87                         7.55
Cavalinha                        92246.84                         1.48

In [21]:
# Dataframe com as densidades em número e em peso para a Sub-área B
df_sub_b = pd.DataFrame(densidade_numerica_b, index=['Sardinha', 'Xixarro', 'Cavalinha'] ,columns=['Densidade Numérica (nºind/mn²)'])
df_sub_b['Densidade em peso (ton/mn²)'] = densidade_peso_b
print('Sub-área B')
df_sub_b

Sub-área B

           Densidade Numérica (nºind/mn²)  Densidade em peso (ton/mn²)
Sardinha                        566966.71                        16.70
Xixarro                         865370.24                        21.62
Cavalinha                       566966.71                        17.85

In [22]:
# Sub-áreas A e B
sub_area_a = 250
sub_area_b = 250

In [23]:
# Cálculo da biomassa

'''Sub-área A'''
biom_sardinha_a = sub_area_a * pa_sardinha
biom_xixarro_a = sub_area_a * pa_xixarro
biom_cavalinha_a = sub_area_a * pa_cavalinha

'''Sub-área B'''
biom_sardinha_b = sub_area_b * pb_sardinha
biom_xixarro_b = sub_area_b * pb_xixarro
biom_cavalinha_b = sub_area_b * pb_cavalinha

# Soma das biomassas
biom_sardinha = biom_sardinha_a + biom_sardinha_b
biom_xixarro = biom_xixarro_a + biom_xixarro_b
biom_cavalinha = biom_cavalinha_a + biom_cavalinha_b

biom_a = np.array([biom_sardinha_a, biom_xixarro_a, biom_cavalinha_a])
biom_b = np.array([biom_sardinha_b, biom_xixarro_b, biom_cavalinha_b])

In [24]:
# Dataframe da biomassa sub-área A

df_biom_a = pd.DataFrame(biom_a, index=['Sardinha', 'Xixarro', 'Cavalinha'], columns=['Biomassa (ton)'])
print('Sub-área A')
df_biom_a

Sub-área A

           Biomassa (ton)
Sardinha           1992.5
Xixarro            1887.5
Cavalinha           370.0

In [25]:
# Dataframe da biomassa sub-área B

df_biom_b = pd.DataFrame(biom_b, index=['Sardinha', 'Xixarro', 'Cavalinha'], columns=['Biomassa (ton)'])
print('Sub-área B')
df_biom_b

Sub-área B

           Biomassa (ton)
Sardinha           4175.0
Xixarro            5405.0
Cavalinha          4462.5

In [26]:
# Dataframe do total de biomassa por espécie

data = np.array([biom_sardinha, biom_xixarro, biom_cavalinha])
col = ['Biomassa (ton)']
index = ['Sardinha', 'Xixarro', 'Cavalinha']
df_biomassa = pd.DataFrame(data, index, col)
print('Biomassa Total')
df_biomassa

Biomassa Total

           Biomassa (ton)
Sardinha           6167.5
Xixarro            7292.5
Cavalinha          4832.5

In [27]:
# Grau de cobertura
area = 500 # área total
d = 110 # distância do percurso do cruzeiro
grau_cob = round((d  / (area)**0.5), 3)
print(f'Grau de cobertura: {grau_cob}')

Grau de cobertura: 4.919

### Considerações

O grau de cobertura obtido a partir do desenho amostral é considerado bom, uma vez que seu valor é maior que quatro.

Comparando os resultados obtidos entre as sub-áreas A e B é notável uma biomassa maior das espécies na sub-área B. Tal fato ocorre devido as águas dessa região serem mais salinas quando comparada com a sub-área A, propiciando portanto condições ambientais melhores para o desenvolvimento das espécies.